<html xmlns:th="http:/www.thymeleaf.org" th:replace="adminpanel/adminbase::layout(~{::section})">
<head>

</head>
<body>
<section>
<div class="main-panel w-100 row ms-auto"  style="margin-right: -12% !important;">
        <div class="content-wrapper pb-0">
      
      <h1 class="text-center">Total Customer </h1>
      <table class="table table-bordered "style="width:90%">
       <thead>
    <tr>
      <th >Name</th>
      <th>Gender</th>
      <th>DOB</th>
           <th>Contact no</th>
      <th>Email</th>
        <th>Password</th>
      <th>Address</th>
 
      <th>Profile Pic</th>
        <th>Registration date </th>
    </tr>
  </thead>
  <tbody>
   <tr th:each="registration:${clist}">
      <th th:text="${registration.name}"></th>
      <td th:text="${registration.gender}"></td>
      <td th:text="${registration.dob}"></td>
      <td th:text="${registration.contactno}"></td>
       <th th:text="${registration.email}"></th>
      <td th:text="${registration.password}"></td>
      <td th:text="${registration.address}"></td>
      <td th:text="${registration.file}"><img alt="img not found" th:src="@{'/profiles/'+${registration.file}}" height="80px" width="80px"></td>
       <td th:text="${registration.postdate}"></td>
    </tr>
  </tbody>
      
      </table>
        </div>
        <!-- content-wrapper ends -->
        
        <!-- partial -->
      </div>
     

</section>
</body>
</html>