<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
  <section>
  
  <div class="row">
    <div class="col-sm-12 text-center">
        <h1><b>Our Best Services</b></h1>
    </div>
</div>

    <div class="row ">
    <div class="col-sm-12 mt-5">
        <div class="col-lg-4 col-md-6 mb-4 mx-auto">
            <div class="card h-100">
                <img src="img/general-medicine.jpg" class="card-img-top" alt="General Medicine">
                <div class="card-body">
                    <h5 class="card-title">General Medicine</h5>
                    <p class="card-text">Comprehensive healthcare for patients of all ages, focusing on diagnosis and treatment of common illnesses.</p>
                </div>

    </div></div>
    



</div>
</div>
    <div class="row">
    <div class="col-sm-12 mt-5 ">
        <div class="col-lg-4 col-md-6 mb-4 mx-auto">
            <div class="card h-100">
                <img src="img/pediatrician-doctor-ghaziabad.jpg" class="card-img-top" alt="General Medicine">
                <div class="card-body">
                    <h5 class="card-title">Pediatrics</h5>
                    <p class="card-text">Specialized care for infants, children, and adolescents, ensuring their health and well-being.</p>
                  </div>

    </div></div>
    



</div>
</div>
    <div class="row">
    <div class="col-sm-12 mt-5 ">
        <div class="col-lg-4 col-md-6 mb-4 mx-auto">
            <div class="card h-100">
                <img src="img/istockphoto-1355075846-612x612.jpg" class="card-img-top" alt="General Medicine">
                <div class="card-body">
                    <h5 class="card-title">Cardiology</h5>
                    <p class="card-text">Advanced cardiovascular care including diagnosis and treatment of heart diseases.</p>
               </div>

    </div></div>
    



</div>
</div>
    <div class="row">
    <div class="col-sm-12 mt-5 ">
        <div class="col-lg-4 col-md-6 mb-4 mx-auto">
            <div class="card h-100">
                <img src="img/istockphoto-1366650119-612x612.jpg" class="card-img-top" alt="General Medicine">
                <div class="card-body">
                    <h5 class="card-title">Orthopedics</h5>
                    <p class="card-text">Expert treatment of musculoskeletal conditions, including joint replacement and sports injuries.</p>
                </div>

    </div></div>
    



</div>
</div>
    <div class="row">
    <div class="col-sm-12 mt-5 ">
        <div class="col-lg-4 col-md-6 mb-4 mx-auto">
            <div class="card h-100">
                <img src="img/medium_Vaishali_Emergency_1_8452c4d7fb.jpg" class="card-img-top" alt="General Medicine">
                <div class="card-body">
                    <h5 class="card-title">Emergency Care</h5>
                            <p class="card-text">24/7 emergency services providing immediate care for critical health conditions.</p>
                        </div>

    </div></div>
    



</div>
</div>
  </section>
 
  
  </body>
</html>